
<table style="text-align:center"><caption><strong>Voteshare and Difflog + Presvote</strong></caption>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td><em>Dependent variable:</em></td></tr>
<tr><td></td><td colspan="1" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td>voteshare</td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">difflog</td><td>0.036<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.001)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">presvote</td><td>0.257<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.012)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>0.449<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.006)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>3,193</td></tr>
<tr><td style="text-align:left">R<sup>2</sup></td><td>0.450</td></tr>
<tr><td style="text-align:left">Adjusted R<sup>2</sup></td><td>0.449</td></tr>
<tr><td style="text-align:left">Residual Std. Error</td><td>0.073 (df = 3190)</td></tr>
<tr><td style="text-align:left">F Statistic</td><td>1,302.947<sup>***</sup> (df = 2; 3190)</td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
